<?xml version='1.0' encoding='UTF-8'?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="org.dita-community.pdf.split-page-sequences">

  <require plugin="org.dita.pdf2"/>
  
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="drmacro@gmail.com"/>
  <feature extension="package.version" value="0.1"/>
  
  <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/root-processing.xsl"/>

</plugin>